body {
  display: grid;
  position: relative;
  height: 100vh;
}

.grid-container {
  display: grid;
  position: absolute;
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto auto auto auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background: palevioletred;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2,
h1 {
  display: flex;
  justify-content: center;
  font-family: "Sofia", cursive;
}

h1 {
  font-size: 40px;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truck-img {
  width: 100%;
}

.company-name {
  font-family: "Sofia", cursive;
  grid-row-start: 1;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

.contact-us-button {
  background: rgb(93, 149, 208);
  color: white;
  width: 25%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 16px;
}

.book-truck {
  grid-row: 3;
  background: #dffaff;
}

.book-truck-button {
  background: rgb(93, 149, 208);
  color: white;
  width: 25%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 16px;
}

.schedule-truck {
  grid-row: 4;
  background: #fdfaff;
}

.find-truck {
  grid-row: 5;
  background: #ffecfb;
}

.map {
  height: 100px;
  width: 100px;
}

.box {
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
}

footer {
  background: palevioletred;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sofia", cursive;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

@media only screen and (min-width: 756px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header"
      "main right"
      "box1 box2"
      "footer footer";
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }

  .main-content {
    padding-top: 50px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .book-truck {
    grid-area: box1;
    margin-top: 10px;
  }

  .schedule-truck {
    grid-area: box2;
  }

  .find-truck {
    grid-area: box3;
  }

  footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }
}
